.content {
    background-color: orange;
    flex: 1 0 auto;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        max-width: 50%;
    }

    img {
        height: auto;
    }

    input {
        padding: 10px;
        background-color: lightsalmon;
        border: none;
        font-size: 24px;
        color: navy;
        text-align: center;

        &:focus {
            outline-color: yellow;
        }
    }
}