:local(.green) {
    color: green;
    text-align: center;
    font-family: serif;

    h1 {
        font-weight: bold;
    }

    h2 {
        color: limegreen;
    }

    h3 {
        color: lightgreen;
    }
}